{{ define "main" }}
<!-- BANNER HOME -->
<div class="bg-banner-home-sm lg:bg-banner-home-lg bg-cover bg-center h-screen text-white">
    <div
        class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 border-8 py-8 px-12 lg:py-10 lg:px-20 xl:py-12 xl:px-24 border-white">
        <h1 class="font-play-fair text-3xl sm:text-4xl md:text-5xl lg:text-6xl xl:text-7xl text-center font-bold">
            Semillero de Tecnología Persuasiva
        </h1>
    </div>
</div>
<!-- BANNER HOME END -->

<!-- WELCOME -->
<div class="py-8 lg:py-10 xl:py-12 bg-white">
    <div class="mx-auto w-11/12 lg:w-10/12">
        <h2 class="font-play-fair text-2xl lg:text-3xl xl:text-4xl mb-4 lg:mb-6 text-blue">
            ¡Bienvenidos al Semillero de Tecnología Persuasiva!
        </h2>
        <p class="lg:text-lg text-blue-dark font-bold">
            Este es un espacio propicio para compartir conocimiento sobre la tecnología persuasiva. ¿De qué manera es
            influenciado el ser humano? ¿Qué es la Tecnología Persuasiva y por qué deberíamos conocerla?
        </p>
    </div>
</div>
<!-- WELCOME END -->

<!-- WHAT IS THE PERSUASIVE TECHNOLOGY -->
<div class="py-4 lg:py-6" style="background-color: #ECECEC;">
    <div class="mx-auto w-11/12 lg:w-10/12 xl:w-9/12 flex flex-col lg:flex-row items-center justify-between">
        <h2
            class="font-play-fair text-2xl lg:text-3xl xl:text-4xl mb-4 lg:mb-6 text-blue-dark-2 text-center font-bold lg:w-4/12">
            ¿Qué es la tecnología persuasiva?
        </h2>
        <iframe class="w-full h-96 lg:w-7/12" src="https://www.youtube.com/embed/d2IXGXveVqo" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
</div>
<!-- WHAT IS THE PERSUASIVE TECHNOLOGY END -->

<!-- PROJECTS -->
<div class="py-12 lg:py-16 xl:py-20">
    <h2 class="font-play-fair text-2xl lg:text-3xl xl:text-4xl mb-12 lg:mb-14 xl:mb-16 text-blue-dark-2 text-center">
        Proyectos
    </h2>
    <div class="mx-auto w-11/12 lg:w-10/12 grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-4 gap-8">
        <div class="text-center">
            <div class="w-full h-80 mb-4" style="background-color: #F7F7F7;">&nbsp;</div>
            <h3 class="font-play-fair text-xl lg:text-2xl xl:text-3xl text-blue-dark-2">Proyecto
                1</h3>
        </div>
        <div class="text-center">
            <div class="w-full h-80 mb-4" style="background-color: #F7F7F7;">&nbsp;</div>
            <h3 class="font-play-fair text-xl lg:text-2xl xl:text-3xl text-blue-dark-2">Proyecto
                2</h3>
        </div>
        <div class="text-center">
            <div class="w-full h-80 mb-4" style="background-color: #F7F7F7;">&nbsp;</div>
            <h3 class="font-play-fair text-xl lg:text-2xl xl:text-3xl text-blue-dark-2">Proyecto
                3</h3>
        </div>
        <div class="text-center">
            <div class="w-full h-80 mb-4" style="background-color: #F7F7F7;">&nbsp;</div>
            <h3 class="font-play-fair text-xl lg:text-2xl xl:text-3xl text-blue-dark-2">Proyecto
                4</h3>
        </div>
    </div>
</div>
<!-- PROJECTS END -->

<!-- THE ART OF PERSUADING -->
<div class="py-4 lg:py-6" style="background-color: #ECECEC;">
    <div class="mx-auto w-11/12 lg:w-10/12 xl:w-9/12 flex flex-col lg:flex-row items-center justify-between">
        <iframe class="w-full h-96 lg:w-7/12 mb-4 lg:mb-6" src="https://www.youtube.com/embed/ubwoQkO1r1k"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        <div class="lg:w-4/12 text-center">
            <h2 class="font-play-fair text-2xl lg:text-3xl xl:text-4xl font-bold mb-2 lg:mb-4 text-blue-dark-2">
                El arte de persuadir
            </h2>
            <p class="font-bold">
                Una excelente forma de lograr objetivos claros, está en dar siempre lo mejor.
            </p>
        </div>
    </div>
</div>
<!-- THE ART OF PERSUADING END -->
{{ end }}